$web_design: 1920;
@function vm($px) {
    @return ($px / $web_design) * 100vw;
}

body {
    font-family: qqlFont,'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif';
}

* {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    float: left;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.index_common_title {
    padding-top: vm(105);
    p {
        color: #fff;
        font-size: vm(26);
        text-align: center;
    }
}
.index_common_introduce {
    padding: vm(30) 0 vm(65) 0;
    p {
        text-align: center;
        font-size: vm(16);
        color: #c4c4c4;
    }
}